@model Catalog;
<p>Using ViewData: @ViewData["imagePath"]</p>  

@{
	ViewData["Title"] = "Products Page";
}

@foreach (var product in Model.Products)
{
	<div>Id: @product.Id<br/>
		Name: @product.Name <br/>
		<img src=@(ViewData["imagePath"]+product.Image)/></div>
}